{% extends 'home/layout.html' %}

{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <img class="img-fluid" src="{{ product_object.imagen.url }}" id="img-center1">
          </div>
        </div>
      </div>

      <aside>
        <div class="details">
        
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-11">
                {{ product_object.nombre }}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-14">
              CATEGORIA: {{ product_object.categoria }}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-13" id="1">
                $ {{ product_object.precio }}
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-14">
                <article>Descripcion</article>
                {{ product_object.descripcion }}
                <div>
                  <a class="btn btn-warning">Agregar al carrito</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div> 
{% endblock %}