{% extends 'home/layout.html' %}

{% load static %}

{% block content %}
  <!--Barra de busqueda-->

  <div class="row">
    <div class="col-md-12">
      <form class="card card-sm" method="GET">
        <div id = "custom-search-input">
          <div class="input-group col-md-12">
            <div class="card-body row no-gutters align-items-center">
              <div class="col">
              <input type="text" name="barra_busqueda" placeholder="Buscar por producto" class="form-control form-cotrol-borderless">
              </div>
              <div class="col-auto">
              <button class="btn btn-success" type="submit">Buscar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--Visualizacion del home-->

  <div class="row">
    <div class="col-lg-4">
      <div class="box-element product">
  
      </div>
    </div>
  
    <div class="col-lg-4">
      <div class="box-element product">
        
      </div>
    </div>
  
    <div class="col-lg-4">
      <div class="box-element product">
  
      </div>
    </div>
  </div>

  <div class="row">
    
     {% for producto in total_productos %}
     <div class="col-md-4">
       <br>
       <div class="card">
         <div class= "card-img-top">
          <img class="img-fluid" src="{{ producto.imagen.url }}" id="img-center">
           <div class="card-body">
            <div class="card-title">
            {{ producto.nombre }}
            </div>
            <div class="card-text">
            $ {{ producto.precio }}
           </div>
          
           <a href="{{producto.codigo_producto}}" class="btn btn-warning">Ver</a>
           <a class="btn btn-warning">Agregar al carrito</a>

          </div>
         </div>
      </div>
     </div>
     {% endfor %}
  </div>

{% endblock %}