{% extends 'home/layout.html' %}

{% load static %}

{% block content %}
  <!--Barra de busqueda-->

  <div class="row">
    <div class="col-md-12">
      <form class="card card-sm" method="GET">
        <div id = "custom-search-input">
          <div class="input-group col-md-12">
            <div class="card-body row no-gutters align-items-center">
              <div class="col">
              <!--Campo de entrada para la barra de busqueda-->
              <input type="text" name="barra_busqueda" placeholder="Buscar por producto, marca, categoria y mas..." class="form-control form-cotrol-borderless">
              </div>
              <div class="col-auto">
              <button class="btn btn-success" type="submit">Buscar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!--Visualizacion del home-->

  <div class="row">
    
     {% for producto in entity %}
     <div class="col-md-3">
       <br>
       <div class="card">
         <div class= "card-img-top" id="caja_producto">
          <a href="{{producto.codigo_producto}}">
            <img class="img-fluid" src="{{ producto.imagen.url }}" id="imgproducto">
          </a>
           <div class="card-body">
            <div class="card-title">
            {{ producto.nombre }}
            </div>
            <div class="card-text">
            $ {{ producto.precio }}
           </div>
          
           <a href="{{producto.codigo_producto}}" class="btn btn-warning">Ver</a>
           <a href="{{productos.codigo_producto}}" class="btn btn-warning">Agregar al carrito</a>

          </div>
         </div>
      </div>
     </div>
     {% endfor %}
  </div>
  <br>
  <br>
  {% include 'home/paginator.html' %}

{% endblock %}