<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  
  <title>QUILITIENDA</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href= "{% static 'home/normalize.css' %}">
  <link rel="stylesheet" href= "{% static 'css/home.css' %}">
  <link rel="stylesheet" href= "{% static 'css/detalles.css' %}">

</head>
<body>
  <header>
  <div class="container1">

    <!--Barra de navegacion (Codigo bootstrap)-->
    
    <div class="row" id="nav">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
          <a href="#">
            <img id="quili-icon" src="{% static 'images/images/logo.png' %}" >
          </a>
          <a class="navbar-brand" id="2" href="{% url 'home' %}">Quilitienda</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              
              <li ><a class="nav-link" href="{% url 'carrito' %}">Productos en carrito</a></li>
            
          </div>
              
              <a href="{% url 'carrito' %}">
                <img id="cart-icon" src="{% static 'images/images/comp.png' %}">
              </a>
              <p id="cart-total">0</p>

              <!--Vista de usuario conectado-->
              {% if user.is_authenticated %}
              <li>
                <a class="btn btn-warning" href="#"> @{{user.username}} </a>
              </li>
              <li>
                <a class="btn btn-warning" href="{% url 'logout' %}">Cerrar sesion</a>
              </li>
              {% else %}
              <li>
                <a class="btn btn-warning" href="{% url 'login' %}" id="1">Login</a>
               </li>
               <li>
                <a class="btn btn-warning" href="{% url 'registro' %}">Registrarse</a>
               </li>
              {% endif %}
               
            </ul>
        </nav>
      </div>
    </div>   
 </div> 
</header>

<main>
  {% block content %}
  {% endblock %}
</main>

<aside>
  <h2>Barra aside</h2>
</aside>

<footer>
  <p>
   <a href="">Tu tienda a tu alcacance</a>
  </p>
  <p>
    <a href="">Acerca de nosotros</a>
  </p>
  <p>
    <a href="">Contactanos</a>
  </p>
</footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>







