
#imgdetalles{
  
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: auto;
	max-height: 500px;
	max-width: 900px;
}


.col-md-11{
  font-size: large;
  color: black;
  font-weight: 900;
}


.col-md-13{
  font-size: large;
  color:green;
  font-weight: 700; 
}

.col-md-14{
  font-size: small;
  color:black;
}

article{
  font-size: small;
  font-weight: 700;
  color:black;
}